<h1><%= t('view.Editing Task') %></h1>

<%= render 'form', task: @task %>
<button type="button" class = "btn btn-priority"><%= link_to t('link.show'), @task %> </button>
<button type="button" class = "btn btn-priority"><%= link_to t('link.back'), tasks_path %></button>
